<style media="screen">
  .box-a{
    width:100%;
    height:676px;
  background-size: cover;
  }
  .outsidebox{
  position:relative;
}
  .box-a,.box-b,.box-c,.box-d,.box-e,.box-f{
width:100%;
height:675px;
overflow: auto;
clear:both;
position: relative;

  }
  .box-a{
    background-color: beige;
  }
</style>


<div class="outsidebox">
  <div class="box-a">

  </div>


</div>
