<head>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>

<style media="screen">
a{color:grey;}
a:hover{color:orange;}
  .box-a{
    width:100%;
    height:676px;
  background-size: cover;
  }
  .outsidebox{
  position:relative;
}
  .box-a,.box-b,.box-c,.box-d,.box-e,.box-f{
width:100%;
height:675px;
overflow: auto;
clear:both;
position: relative;

  }
  .box-a{
    background-color: beige;
    background-image: url(https://ooo.0o0.ooo/2017/02/12/58a00c1dcddfb.jpg);
    background-size: cover;
    width: 100%;
  }
  .box-a:hover{
    background-image: url(https://ooo.0o0.ooo/2017/02/14/58a230c8bf929.jpg);
    background-size: cover;
  }
  .atext{
    text-align: right;
    margin-top: 8%;
    margin-right: 10%;
    color: #3c3837;
  }
  .headline{
    font-size: 4em;
    display: block;
  }
  .box-b{
    height: 500px;
    background:yellow;
  }
  .bleft{
    width: 25%;
    height: 500px;
    background-color: skyblue;
    float: left;
    background-image: url(https://ooo.0o0.ooo/2017/02/12/58a0249802ce0.jpg);
    background-size: cover;
  }

  .bright{
    width: 75%;
    height: 500px;
    background-color: red;
    float: right;

  }
  .bright-row1{
    background-color: yellow;
    width:100%;
    height:250px;
  }
  .bright-row2{
    background-color: skyblue;
    width:100%;
    height:250px;
  }
  .b2, .b6{
    width:30%;
    height:250px;
    background-color: white;
    float: left;
  }
  .b3{
    width:70%;
    height:250px;
    background-color: pink;
    float: left;
    background-image: url(https://ooo.0o0.ooo/2017/02/12/58a027081e0f4.jpg);
    background-size: cover;
  }
  .b6{
    float: left;
    background-color: #c9c9c9;
  }
.b5{
  width:40%;
  height:250px;
  background-color: #393939;
  float: left;
  background-image: url(https://ooo.0o0.ooo/2017/02/12/58a028911e501.jpg);
  background-size: cover;

}
.b4{
  width:30%;
  height:250px;
  background-color: #393939;
  float: left;
}
.b1-text,.b3-text,.b4-text{
  color:white;
  font-size: 4em;
}
.b1-text:hover,.b3-text:hover,.b4-text:hover{
  color: grey;

}
.b1-text{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}
.b3-text{
  margin-left: 20px;
  margin-top: 150px;
}
.b4-text{
  margin-top: 20px;
  margin-left: 20px;
}
.box-c{
  background-color: pink;

}
.box-d{
  background-color: #d8cfd3;
  height:400px;
}
.box-e{
  background-color: #edeeee;
  height:680px;
}
.box-f{
  background-color: white;
  height: 260px;
}
.box-c{
  //background-image: url(https://ooo.0o0.ooo/2017/02/12/58a0405813c79.jpg);
  background-size: cover;
  background-color: white;
  width: 100%;
  height:676px;
}
.d1{
  width:10%;
  height:400px;
  float: left;
  background-color: #93bf91;
}
.d2{
  width:50%;
  height:400px;
  background-color: red;
  float: left;
  background-image: url(https://ooo.0o0.ooo/2017/02/12/58a02ea84b222.jpg);
  background-size: cover;
}
.d2:hover{
  box-shadow: #42455F 0 1px 5px;
}
.d3{
  width:5%;
  height:400px;
  float: left;
}
.d4{
  width:25%;
  height:400px;
  float: left;
}
.d5{
  width:10%;
  height:400px;
  float: left;
}
.d4up{
  height:195px;
  margin-bottom: 10px;
  width: 100%;
  background-color: black;
  background-image: url(https://ooo.0o0.ooo/2017/02/12/58a02fff7f95a.jpg);
  background-size: cover;

}
.d4up:hover{
  box-shadow: #42455F 0 1px 5px;
}
.d4down{
  height:195px;
  width: 100%;
  background-color: black;
  background-image: url(https://ooo.0o0.ooo/2017/02/12/58a027081e0f4.jpg);
  background-size: cover;
}
.d4down:hover{
  box-shadow: #42455F 0 1px 5px;
}
.e-row1{
  width: 100%;
  height:340px;
  background-color: yellow;
}
.e-row2{
  width: 100%;
  height:340px;

}
.e1,.e2,.e3,.e4,.e5,.e6{

  height:340px;
  float: left;

}
.e1,.e3,.e5{
  width:33%;

}
.e2,.e4,.e6{
  width:33%;

}
.e-square{
  height:260px;
  width:260px;
  background-color: white;
  border-radius: 200px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
.e-square:hover{
  box-shadow: #42455F 0 1px 5px;
}
.circle-img{

}
.c-row1{
width:80%;
height:300px;
background-color: yellow;
margin: 0 auto;

}
.c-row2{
  width:80%;
  height:300px;
  background-color: pink;
  margin: 0 auto;
}
.c1{
width:50%;
height: 300px;
float: left;
background-image: url(https://ooo.0o0.ooo/2017/02/13/58a0bc613747c.jpg);
background-size: cover;
}
.c2{
  width:50%;
  height: 300px;
  background-color: #ebedef;
  float: left;
  background-image: url(https://ooo.0o0.ooo/2017/02/13/58a19c74f196d.jpg);
  background-size: cover;


}
.c2:hover{
  background-image: url(https://ooo.0o0.ooo/2017/02/13/58a19c7812361.jpg);
  background-size: cover;
}
.c3{
  width:50%;
  height: 300px;
  background-color: #ebedef;
  float: left;

  background-size: cover;
}
.c4{
  width:50%;
  height: 300px;
  float: left;
  background-image: url(https://ooo.0o0.ooo/2017/02/13/58a0bcad3379a.jpg);
  background-size: cover;


}
.c2-text{
  text-align: center;
  width:33%;
  float: left;
  margin-left: 33%;
}


.c3-text{
  text-align: center;

}
.contactus{
  color:  #3c3837;
}
.box-c{
  height:600px;
}
.f-left{
  width:50%;
  height:260px;
  float: left;
  text-align: center;
}
.f-right{
  width:50%;
  height:260px;
  float: left;
  text-align: center;
}
.box-f{
  padding-top: 40px;
}
</style>


<div class="outsidebox">




  <!--BOXA-->
  <div class="box-a">

<div class="atext">
  <span class="headline">文艺生活 品质典范</span>
MJZW-文艺家居独立设计品牌
</div>

  </div>

<!--BOXA结束-->


<!--BOXB-->
<div class="box-b" id="first">
  <div class="bleft">
    <div class="b1-text">
      <a href="/products_mu" style="color:white">木</a>

    </div>
  </div>

  <div class="bright">
    <div class="bright-row1">
      <div class="b2">

      </div>
      <div class="b3">
        <div class="b3-text">
          <a href="/products_shi" style="color:white">饰</a>

        </div>
      </div>
    </div>
    <div class="bright-row2">
      <div class="b4">
        <div class="b4-text">
          <a href="/products_ci" style="color:white">瓷</a>

        </div>
      </div>
      <div class="b5">

      </div>
      <div class="b6">

      </div>

    </div>
  </div>

</div>
<!--BOXB结束-->

<!--隔断-->
<div class="breakline" style="height:200px;background-color: white">
<div class="newarrives" style="font-size:4em; text-align: center;line-height:200px; color: #3c3e37;" id="second">
  关于我们
</div>
</div>
<!--隔断结束-->

<!--BOXC-->
<div class="box-c">
<div class="c-row1">
  <div class="c1">

  </div>
  <div class="c2">


<div class="c2-text">

  <h3>设计师：林明剑</h3>
  坐标：澳大利亚黄金海岸

  <h3>设计师：钟雯</h3>
  坐标：新西兰奥克兰

  <br>
  <div style="margin-top:20px;">两个时差相隔4小时，跨越了2250千米的小伙伴组队到了一起，
    创立了MJZW-文艺家居独立设计品牌。
    <br>希望大家多多支持。



  </div>

</div>

  </div>
</div>
<div class="c-row2">
  <div class="c3">
    <div class="c3-text">
  <h2><a href="Mailto:zhongwen322@gmail.com" class="contactus">联系方式</a></h2>

      <h3>林明剑</h3>
      PH:61417063966
      <br>EMAIL:seanlin0918@gmail.com
      <br>WECHAT:seanlin0918

      <h3>钟雯</h3>
      PH:+64273196191
      <br>EMAIL:zhongwen322@gmail.com
      <br>WECHAT:zhongweninri

    </div>

  </div>
  <div class="c4">

  </div>
</div>
</div>
<!--BOXC结束-->

<!--隔断-->
<div class="breakline" style="height:200px;background-color: white">
<div class="newarrives" style="font-size:4em; text-align: center;line-height:200px; color: #3c3e37;" id="third">
  今日推荐
</div>
</div>
<!--隔断结束-->

<!--BOXD-->
<div class="box-d">
  <div class="d1">

  </div>

  <div class="d2" style="overflow:hidden;">

    <!--BOXSLIDE-->
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="products/11">
          <img src="https://ooo.0o0.ooo/2017/02/14/58a21a7a73aa3.jpg" alt="First slide">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="products/13">
          <img src="https://ooo.0o0.ooo/2017/02/14/58a21a7a75242.jpg" alt="Second slide">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
          <a href="products/12">
            <img src="https://ooo.0o0.ooo/2017/02/14/58a21a7a7637b.jpg" alt="Third slide">
            <div class="carousel-caption"></div>
          </a>
        </div>
      </div>

     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
     </a>
     <a class="carousel-control right" href="#myCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
     </a>
    </div>

    <!--BOXSLIDEEND-->


  </div>



  <div class="d3">

  </div>
  <div class="d4">

    <a href="products/15">
      <div class="d4up">

      </div></a>

<a href="products/13">
  <div class="d4down">

  </div>
</a>


  </div>
  <div class="d5">

  </div>
</div>
<!--BOXD结束-->
<!--隔断-->
<div class="breakline" style="height:200px;background-color: #edeeee;">
<div class="newarrives" style="font-size:4em; text-align: center;line-height:200px; color: #3c3e37;" id="fourth">
  新品上架
</div>
</div>
<!--隔断结束-->
<!--BOXE-->
<div class="box-e">

    <div class="e1">

<div class="e-square">
<img src="https://ooo.0o0.ooo/2017/02/12/58a03d25d9ce8.jpg" alt="" width="260" height="260"  class="circle-img">

</div>
<h4 style="text-align:center;"><a href="products/1">储物柜</a></h4>
    </div>
    <div class="e2">

      <div class="e-square">
<img src="https://ooo.0o0.ooo/2017/02/12/58a03d2609f7c.jpg" alt="" width="260" height="260"  class="circle-img">
      </div>
      <h4 style="text-align:center;"><a href="products/2">木椅</a></h4>
    </div>
<div class="e3">

  <div class="e-square">
<img src="https://ooo.0o0.ooo/2017/02/12/58a03d262025f.jpg" alt="" width="260" height="260"  class="circle-img">
  </div>
    <h4 style="text-align:center;"><a href="products/5">高背椅</a></h4>
</div>



    <div class="e4">

      <div class="e-square">
<img src="https://ooo.0o0.ooo/2017/02/12/58a03d262db56.jpg" alt="" width="260" height="260"  class="circle-img">
      </div>
      <h4 style="text-align:center;"><a href="products/3">办公桌椅</a></h4>
    </div>
    <div class="e5">

      <div class="e-square">
<img src="https://ooo.0o0.ooo/2017/02/12/58a03d264cbb0.jpg" alt="" width="260" height="260"  class="circle-img">
      </div>
        <h4 style="text-align:center;"><a href="products/16">复古灯</a></h4>
    </div>
    <div class="e6">

      <div class="e-square">
<img src="https://ooo.0o0.ooo/2017/02/12/58a03d2656f51.jpg" alt="" width="260" height="260"  class="circle-img">
      </div>
        <h4 style="text-align:center;"><a href="products/12">青蛙饰品</a></h4>
    </div>



</div>
<!--BOXE结束-->
<!--隔断-->
<div class="breakline" style="height:100px; background-color: #edeeee;">

</div>
<!--隔断结束-->

<!--BOXF-->
<div class="box-f">
  <div class="f-left">
    <h3>INFO</h3>
    <br><a href="#first">产品分类</a>
    <br><a href="#second">关于我们</a>
    <br><a href="#third">今日推荐</a>
    <br><a href="#fourth">新品上架</a>
    <a href="Mailto:zhongwen322@gmail.com" style="display:block;">其他咨询</a>

  </div>

  <div class="f-right">
    <h3>SUBSCRIBE</h3>
    <br>
    <p>订阅我们，我们会将新闻、优惠活动和活动通知发送至您的邮箱。</p>
    <br><input type="text" value="您的电子邮件地址"> <input type="submit" value="完成">

  </div>



</div>
<!--BOXF结束-->

</div>

<script type="text/javascript">

$(".e-square").mouseenter(
	function(){
		$(this).fadeOut(500).fadeIn(400)

		}

)

</script>
