 <%= render :partial => "welcome/search_bar" %>

<br>
<div class="search-result">

  <table class="table table-borderd">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
      <hr>
    <% end %>
 </table>

</div>
