<style media="screen">
  .eveysearch{
    
    position: absolute;
    z-index: 2;
    top:8px;
    left:350px;
  }

  @media(max-width:820px){
  	.eveysearch{width:50%}

  	}

  	@media(max-width:580px){
  	.eveysearch{width:30%}

  	}

  	@media(max-width:350px){
  .eveysearch{width:20%}

  	}


</style>



<div class="eveysearch">
  <div class="col-md-6">
    <%= form_tag search_products_path, method: :get, class: 'products-search-form'  do %>
      <div class="input-group">
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索心仪的家居">

        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    <% end %>
  </div>
