
<style media="screen">
  .floatingevey{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 98;
  }
  .backtotop, .fl3{
    color:white;
    font-size: 16px;
    line-height: 50px;
    float: right;
    margin-right: 20px;
  }
  .backtotop:hover{
    color:orange;
  }
  .fl3 a{
    color: white;

  }
.fl3 a:hover{
  color:orange;

}
.othericons{
  position: absolute;
  left:0;
  width:300px;
  height:50px;
  //background-color: yellow;
}
.icooon{
color: white;

}
.icooon:hover{
  color:orange;
}
.ic-1,.ic-2,.ic-3{
  float: left;
  width:20px;
  height:20px;
  margin: 0 auto;
  //background-color: red;
  position: relative;
  top:15px;
  margin-left: 20px;

}
</style>


<div class="floatingevey">

<div class="othericons">
  <div class="ic-1">
    <a href="/" class="icooon"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="ic-2">
    <a href="/favorites" class="icooon"><i class="fa fa-gratipay fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="ic-3">
  <a href="/carts" class="icooon"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
  </div>

  <div class="ic-1">
    <a href="/products_mu" class="icooon"><i class="fa fa-tree fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="ic-2">
    <a href="/products_ci" class="icooon"><i class="fa fa-coffee fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="ic-3">
  <a href="/products_shi" class="icooon"><i class="fa fa-pagelines fa-lg" aria-hidden="true"></i></a>
  </div>


</div>




<div class="fl1">


</div>
<div class="fl4">
 <a href="#" class="backtotop">返回顶部</a>

</div>

<div class="fl3">
<a href="https://fullstack.xinshengdaxue.com/works/197"> 支持我们&nbsp;<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
</div>


<div class="fl3">
<a href="Mailto:zhongwen322@gmail.com"> 联系我们&nbsp;<i class="fa fa-envelope-o" aria-hidden="true"></i></a>
</div>

</div>
